{% extends 'base.html' %}
{% block title %} Actor Profile {% endblock %}
{% block body %}

<h1>{{actor.name}}</h1>
<br/>
<br/>
<br/>
<img src="{{actor.image.url}}" alt="A picture of {{actor.name}}"/>
<p>{{actor.image.url}}</p>
<p>Gender: {{actor.gender}}</p>
<p>Birthday: {{actor.birthday}}</p>
<p>Biography: {{actor.biography}}</p>
<div class="movies">
    <ul>
    {% for movie in actor.movies.all %}
        <li>
            <img src="{{movie.image.url}}" alt="{{movie.title}}"/>
            <p>{{movie.image.url}}</p>
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
