{% extends 'base.html' %}
{% block title %} Movies {% endblock %}
{% block body %}

<h1>{{movie.title}}</h1>
<img src="{{movie.image.url}}" alt="{{movie.title}} Movie Poster"/>
<p>Description: {{movie.description}}</p>
{% if movie.category == 'A' %}
<p>Genre: Action</p>
{% elif movie.category == 'D' %}
<p>Genre: Drama</p>
{% elif movie.category == 'C' %}
<p>Genre: Comedy</p>
{% else %}
<p>Genre: Romance</p>
{% endif %}
<p>Language: {{movie.language}}</p>
<p>Year of Production: {{movie.year_of_production}}</p>
{% if average_rating == 0 %}
<p>There are no reviews for this movie...</p>
{% else %}
<p>Rating: {{average_rating}} Stars</p>
<div class="reviews">
    <ul>
        {% for review in reviews %}
        <li>
            Author: {{review.author.username}}
            Rating: {{review.rating}}
            <a href="/reviews/{{review.id}}/">See Review</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div class="cast">
    <ul>
        {% for actor in cast %}
        <a href="/actors/{{actor.id}}/">
            <li>
                <img src="{{actor.image.url}}" alt="{{actor.name}}"/>
            </li>
        </a>
        {% endfor %}
    </ul>
</div>

{% endblock %}