{% include 'base.html' %}
{% load static %}

{% block content %}
<center>
    <h1>{{user.username}}<h4><a href="/edit_user/{{user.id}}/">Edit</a></h4>
    </h1>
    <br>
    <p>About : <br>{{user.about}}</p>
    <br><br><br><br><br>
    <p>Watched Movies:
    {% for movie in user.watched_movies.all %}
    <br>{{movie.title}}
    {% endfor %}</p>
    <br><br><br><br><br>
    <p>Watchlist:
    {% for movie in user.watchlist.all %}
    <br>{{movie.title}}
    {% endfor %}</p>
    <br><br><br><br><br>
</center>
{% endblock content %}