{% include 'base.html' %}
{% load static %}

{% block content %}
<center>
    <h1>{{profile.username}}<h4></h4>
    {% if user == profile %}
    <a href="/edit_user/{{profile.id}}/">Edit</a></h4>
    {% endif %}
    </h1>
    <br>
    {% if about != None %}
    <p>About : <br>{{profile.about}}</p>
    {% else %}
    {% endif %}
    <br><br><br><br><br>
    <p>Watched Movies:
    {% if profile.watched_movies.all.count == 0 %}
    <br>There are no movies here...</p>
    {% else %}
    <div class="cards-results">
        {% for movie in profile.watched_movies.all %}
        <a href="/movies/{{movie.id}}/">
            <img src="{{movie.image.url}}" alt="{{movie.title}}">
            <h2>{{movie.title}}</h2>
        </a>
        <br/>
        {% endfor %}
    </div>
    {% endif %}
    <br><br><br><br><br>
    <p>Watchlist:
    {% if profile.watchlist.all.count == 0 %}
    <br>There are no movies here...</p>
    {% else %}
    <div class="cards-results">
        {% for movie in profile.watchlist.all %}
        <a href="/movies/{{movie.id}}/">
            <img src="{{movie.image.url}}" alt="{{movie.title}}">
            <h2>{{movie.title}}</h2>
        </a>
        <br/>
        {% endfor %}
    </div>
    {% endif %}
    <br><br><br><br><br>
</center>
{% endblock content %}